API_ID=123456789
API_HASH=abcdef0123456789abcdef0123456789
BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database
DB_NAME=telegram_bot